/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
/* * {

    font-family: Algerian;

} */

.one {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.two {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.three  {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.three ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;

}

.four {

    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;

   }

.four2{

    /* border: solid darkgreen 1px; */
    display: flex;
    justify-content: center;

}

.four1 {

    /* border: solid 2px orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.five {
    /* border: solid 2px black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.five-one {

    flex-basis: 250px;
    flex-grow: 1;

}