/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

div {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.two {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.two1 {

    display: flex;
    flex-direction: row;

}

